body {
    background-image: url('imagenes/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* estilos */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0%;
    background: -o-linear-gradient(135deg, #333, #777);
    font-family: Arial, sans-serif;
}

body::before {
    content: "";
    position: absolute;
    /* Cambia de fixed a absolute */
    inset: 0;
    /* Agrega esta propiedad para que cubra todo el body */
    background-color: var(--overlay-color);
    /* Reemplaza con la variable CSS */
    z-index: -1;
}

:root {
    --overlay-color: rgba(34, 61, 71, 0.34);
    --login-bg-color: rgba(255, 255, 255, 0.8);
}

.login-container {
    /* Estilos para el contenedor del formulario de inicio de sesión */
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    /* Ajuste del posicionamiento según sea necesario */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.menu-container,
.data-entry-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;

}

h2,
h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 5px 0 10px;
}

input,
select {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #555;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #666;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #fff;
    background: #555;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

a:hover {
    background: #666;
}

.login-container {
    background-color: var(--login-bg-color);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}